<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>antibot_v2.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,221},{21,31}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{193,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,145},{193,183}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{305,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,99},{305,275}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{369,331}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{369,331}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,800},{411,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,55},{411,363}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,411},{441,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{441,387}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{459,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{459,401}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{473,407}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{467,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{467,407}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
            <key>antibot_v2.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{473,473}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antibot.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0a224368a5c4009dedfd0c42575949$</string>
            <key>textureFileName</key>
            <string>antibot.png</string>
        </dict>
    </dict>
</plist>
