<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_v0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{46,60}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{58,66}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{60,62}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,154},{40,58}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{40,58}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,104},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{44,46}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,40}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{74,40}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,38}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{74,38}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{64,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{64,46}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,210},{42,52}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{42,52}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,152},{42,56}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{42,56}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,42},{60,64}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,64}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_v0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad91019dd5b48fdffbc69c1b698af79$</string>
            <key>textureFileName</key>
            <string>bird_v0.png</string>
        </dict>
    </dict>
</plist>
