<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_v2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{46,52}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{46,52}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{42,54}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{42,54}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{48,46}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{48,46}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,66},{46,54}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{46,54}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,46},{46,60}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{46,60}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{54,62}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{54,62}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{62,58}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{62,58}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,52}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{66,52}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,42}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{64,42}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,62},{58,48}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{58,48}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>bird_v2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,94},{52,52}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_v2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5f2cd6dba8ae54308ecf6a2b4be1aed$</string>
            <key>textureFileName</key>
            <string>bird_v2.png</string>
        </dict>
    </dict>
</plist>
