<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glass_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,33},{17,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{17,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{31,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{31,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,120},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{29,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{27,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,178},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{25,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,176},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{21,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,199},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{17,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,201},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{15,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{21,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{21,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,174},{25,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,149},{27,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{27,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,153},{21,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{21,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,91},{29,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{29,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{33,27}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{33,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,27}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{35,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,33},{33,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{33,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{33,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{33,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,60},{31,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{31,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{29,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{29,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,120},{27,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{27,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,147},{25,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{25,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,64},{21,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{21,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,126},{25,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{25,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{17,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{17,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{15,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,95},{27,29}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{27,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{31,27}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{31,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,31},{33,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{33,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{33,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{33,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{33,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>glass_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,62},{31,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{31,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>glass_1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb7f75d7e8ce077378093265adbceb7$</string>
            <key>textureFileName</key>
            <string>glass_1.png</string>
        </dict>
    </dict>
</plist>
