<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_expl_v2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,88},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{6,6}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,790},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{124,124}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{130,130}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{136,136}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{28,28}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{144,100}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,81},{144,100}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{150,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{150,118}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{152,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{152,120}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,104}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{166,104}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{162,126}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{162,126}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,880},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{38,38}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,694},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{18,18}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,834},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{46,46}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,914},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{56,56}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,918},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{62,62}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{70,70}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{76,76}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,88},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{82,82}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{88,88}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,170},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{92,92}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,694},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{96,96}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,366},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{102,102}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,262},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{104,104}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,468},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{110,110}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>lightning_expl_v2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,578},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{116,116}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning_expl_v2.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d64e98975255282d383c46622cd13e1$</string>
            <key>textureFileName</key>
            <string>lightning_expl_v2.png</string>
        </dict>
    </dict>
</plist>
