<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_hands_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,403},{70,70}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lightning_hands_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{133,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,260},{129,129}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,266},{115,129}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,268},{131,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{131,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,403},{75,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{75,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{105,99}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{105,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,131},{121,129}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{121,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,135},{119,131}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{119,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{125,131}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{125,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,389},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{125,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{135,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{135,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{135,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{135,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>lightning_hands_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,135},{129,133}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning_hands.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358ac1e43ab59402de2b7d3b99cfab53$</string>
            <key>textureFileName</key>
            <string>lightning_hands.png</string>
        </dict>
    </dict>
</plist>
