<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paper_v1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,0},{28,8}}</string>
                <key>offset</key>
                <string>{-183,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,129},{28,8}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,898},{120,116}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,79},{120,116}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,754},{144,134}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,69},{144,134}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,770},{166,150}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,61},{166,150}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,570},{184,164}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,57},{184,164}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,570},{200,170}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,54},{200,170}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,588},{212,170}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,54},{212,170}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,758},{216,168}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,56},{216,168}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,760},{216,170}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{216,170}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,588},{218,172}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,52},{218,172}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,766},{224,176}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,48},{224,176}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,102},{24,20}}</string>
                <key>offset</key>
                <string>{-161,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,118},{24,20}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{224,182}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,42},{224,182}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{244,188}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,36},{244,188}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,392},{262,196}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,28},{262,196}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,370},{282,200}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{282,200}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{300,204}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{300,204}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,188},{312,204}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{312,204}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{320,200}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{320,200}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{324,194}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{324,194}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{322,188}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{322,188}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{310,180}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{310,180}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,374},{30,24}}</string>
                <key>offset</key>
                <string>{-132,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,128},{30,24}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,200},{298,170}}</string>
                <key>offset</key>
                <string>{-34,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,54},{298,170}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,102},{38,30}}</string>
                <key>offset</key>
                <string>{-101,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,140},{38,30}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{38,50}}</string>
                <key>offset</key>
                <string>{-69,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,130},{38,50}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,38},{48,64}}</string>
                <key>offset</key>
                <string>{-40,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,118},{48,64}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,288},{68,72}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,112},{68,72}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,200},{90,88}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{90,88}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>paper_v1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,370},{104,100}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,89},{104,100}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paper_v1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5604c47917ca64e6056810c372512440$</string>
            <key>textureFileName</key>
            <string>paper_v1.png</string>
        </dict>
    </dict>
</plist>
