<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>trick_active_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,710},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,533},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,428},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,428},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,356},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,286},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,286},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,179},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,144},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,144},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,2},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,2},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{140,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,175}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_active_up_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,887},{110,155}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,9},{110,155}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>trick_active_up.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9bee31f91aa2179240bf727b449d72bf$</string>
		<key>textureFileName</key>
		<string>trick_active_up.png</string>
	</dict>
</dict>
</plist>
