<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>trick_idle_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,562},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,450},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,450},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,338},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,338},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,226},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,226},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,114},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,114},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,114},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,2},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,2},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
		<key>trick_idle_up_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{110,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,11},{110,153}}</string>
			<key>sourceSize</key>
			<string>{140,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>trick_idle_up.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6492b09d88eba5fa84184bc6d6623b1d$</string>
		<key>textureFileName</key>
		<string>trick_idle_up.png</string>
	</dict>
</dict>
</plist>
