<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneyButton_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>moneyButton_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins_dialog_content_2048.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1131240aa15572fe9a8d6f8ae541f80$</string>
            <key>textureFileName</key>
            <string>coins_dialog_content_2048.png</string>
        </dict>
    </dict>
</plist>
