<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NGBuyButton_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{646,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,204}}</string>
                <key>sourceSize</key>
                <string>{646,204}</string>
            </dict>
            <key>backButton_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1496},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>backButton_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1328},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>backButton_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1178},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>button1_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{636,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,198}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>button1_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1346},{636,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,198}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>button1_disabled_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{634,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{634,194}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>button1_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{666,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,228}}</string>
                <key>sourceSize</key>
                <string>{666,228}</string>
            </dict>
            <key>button2_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>button2_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>button2_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>coins_button_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1160},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>coins_button_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1664},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>coins_button_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1010},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>forwardButton_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,992},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>forwardButton_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,842},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>l_orange_button_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>l_orange_button_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,196}}</string>
                <key>sourceSize</key>
                <string>{845,196}</string>
            </dict>
            <key>playButton_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,674},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>playButton_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,506},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>playButton_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,338},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>up_button_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,170},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>up_button_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_content2_2048.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d5d2813ca51607cbd7b46de48a06f2:1/1$</string>
            <key>textureFileName</key>
            <string>common_content2_2048.png</string>
        </dict>
    </dict>
</plist>
