<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonuses_icon_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>end_game_star_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{164,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,153}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>end_game_star_full_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1788},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>score_icon_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>star_area_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1784,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{1784,166}}</string>
                <key>sourceSize</key>
                <string>{1800,180}</string>
            </dict>
            <key>star_light_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>time_icon_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>end_game_2048.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4248d5ea568a1347e57d5afc5bf5192c$</string>
            <key>textureFileName</key>
            <string>end_game_2048.png</string>
        </dict>
    </dict>
</plist>
