<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InfoPlate_BG_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{928,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,98}}</string>
                <key>sourceSize</key>
                <string>{928,100}</string>
            </dict>
            <key>InfoPlate_money_btn_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,928},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>InfoPlate_plus_btn_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,130},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>InfoPlate_plus_btn_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>InfoPlate_star_btn_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,928},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>info_plate_content_2048.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025659846b6ac0bec37d6a31786ad875$</string>
            <key>textureFileName</key>
            <string>info_plate_content_2048.png</string>
        </dict>
    </dict>
</plist>
