<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainMenu_connectIcon_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,690},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mainMenu_connect_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{976,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{976,146}}</string>
                <key>sourceSize</key>
                <string>{984,156}</string>
            </dict>
            <key>mainMenu_daytask_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,690},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>mainMenu_daytask_2048_pushd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,591},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>mainMenu_daytask_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,933},{160,162}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{160,162}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>mainMenu_daytask_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,930},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_facebook_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,292},{297,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,97}}</string>
                <key>sourceSize</key>
                <string>{297,97}</string>
            </dict>
            <key>mainMenu_facebook_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,108},{310,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,94}</string>
            </dict>
            <key>mainMenu_games_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,930},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_get_free_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,933},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>mainMenu_get_free_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>mainMenu_mail_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,860},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_mail_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,860},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_play_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,712},{636,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,300}}</string>
                <key>sourceSize</key>
                <string>{636,300}</string>
            </dict>
            <key>mainMenu_play_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,410},{636,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,300}}</string>
                <key>sourceSize</key>
                <string>{636,300}</string>
            </dict>
            <key>mainMenu_play_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{636,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,300}}</string>
                <key>sourceSize</key>
                <string>{636,300}</string>
            </dict>
            <key>mainMenu_running_row_bg_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1369,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1369,104}}</string>
                <key>sourceSize</key>
                <string>{1369,104}</string>
            </dict>
            <key>mainMenu_running_row_cover_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,304},{679,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,104}}</string>
                <key>sourceSize</key>
                <string>{679,104}</string>
            </dict>
            <key>mainMenu_scroller_star_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,410},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mainMenu_settings_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,764},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_settings_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_settings_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>mainMenu_shop_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{636,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,198}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>mainMenu_shop_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,391},{636,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,198}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>mainMenu_shop_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{636,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,198}}</string>
                <key>sourceSize</key>
                <string>{636,198}</string>
            </dict>
            <key>mainMenu_twitter_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,591},{291,97}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{291,97}}</string>
                <key>sourceSize</key>
                <string>{297,97}</string>
            </dict>
            <key>mainMenu_twitter_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,200},{308,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{308,90}}</string>
                <key>sourceSize</key>
                <string>{310,94}</string>
            </dict>
            <key>mainMenu_vector_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{908,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{908,106}}</string>
                <key>sourceSize</key>
                <string>{922,122}</string>
            </dict>
            <key>main_exit_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,591},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>main_exit_activ_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,761},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>main_exit_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,761},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>title_underline_MS_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,108},{846,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{846,48}}</string>
                <key>sourceSize</key>
                <string>{846,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu_content_2048.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9450f36f58a0384c934cb8534701de0f:1/1$</string>
            <key>textureFileName</key>
            <string>main_menu_content_2048.png</string>
        </dict>
    </dict>
</plist>
