<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowSelected_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{84,216}}</string>
                <key>offset</key>
                <string>{49,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,166},{84,216}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>arrow_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,88},{74,212}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,167},{74,212}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>bonus_disable_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,908},{368,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{368,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>bonus_normal_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{368,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{368,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>bonus_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,868},{370,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{370,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>empty_track_plate_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{720,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,488}}</string>
                <key>sourceSize</key>
                <string>{720,488}</string>
            </dict>
            <key>light_star_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1240},{84,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>modes_bg_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,134}}</string>
                <key>sourceSize</key>
                <string>{760,134}</string>
            </dict>
            <key>story_disable_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,164},{370,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{370,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>story_normal_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,536},{370,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{370,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>story_pressed_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1240},{368,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{368,113}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>track_plate_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{734,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,502}}</string>
                <key>sourceSize</key>
                <string>{734,502}</string>
            </dict>
            <key>track_plate_top_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,164},{702,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{702,132}}</string>
                <key>sourceSize</key>
                <string>{712,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>track_content_2048.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac120d71f00583d8ad8260fca75a07d7$</string>
            <key>textureFileName</key>
            <string>track_content_2048.png</string>
        </dict>
    </dict>
</plist>
